.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#imagen {
    background-position:center;
    width: 100%;
    height: 400px;
    background-size: cover;
}
button{
    z-index: 2;
}
#follow{
    position: absolute;
  text-align: center;
}